[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = collections
retry_files_enabled = false
stdout_callback = default
interpreter_python = auto

[privilege_escalation]
become = false
